/* google fonte */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');
 

/* 
   boot fonts

   crete:
   font-family: "Crete Round", serif;
  font-weight: 400;
  font-style: normal;

    inter:
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

    roboto:
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  
  
    */


tt/* regra css */
/* reset CSS */
* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(20, 19, 19);
}

a {
    color:whitesmoke;
    text-decoration: none;

}

ul {
    list-style: none;




}

html[data-theme='dark'] .logo {
    filter: invert(0) ;   
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;


}


.logo {/* logo */
    width: 156x; /* largura */
    height:  46px; /* altura */




}

.header-toggle {
    display: flex;
    justify-content: flex;



}








#toggleTheme {
    color: whitesmoke; /* Cor de Texto */
    font-size: 50px; /* 16 - 20 */
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}


/* menu desktop */

.menu {
    display: flex;
    align-items: center;
    gap: 25px; 
}

.menu-item {
    width: 100%;
}


.menu-link {
    display: flex;
}


.menu-texto{
    font-size: 12px; 
    text-transform: uppercase;
    font-family: "Inter", sans-serif;  
    font-weight: 300; 
}


.header-nav {
    display: none;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;      
}

.menu-mobile {
    bottom: 0;
    position: fixed;
    width: 100vw; /* VW = Viewport - widht */
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1;

}

.menu-link.active .icone-link,
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto {
        color: red;
        font-weight: 600;


}




.menu-icone,
.menu-texto {
    color: #6a6a6a;
    font-weight: 600;
}

























/* CSS RESPONSIVO
    TELAS ATE A PARTIR DE 768 */
    @media (min-width: 768px) {
        .header-nav {
            display: flex;
        }
    
        .header-nav,
        .header-toggle {
            min-width: 25%;
        }
    
        .nav-mobile {
            display: none;
        }
    }



